﻿<%@ Page Title="" Language="C#" MasterPageFile="~/welcome/welcome.master" AutoEventWireup="true" CodeFile="description.aspx.cs" Inherits="welcome_description" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

