﻿<%@ Page Title="" Language="C#" MasterPageFile="~/welcome/welcome.master" AutoEventWireup="true" CodeFile="home.aspx.cs" Inherits="welcome_home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        <br />
    </p>
    <p>
      </p>
    <p>
    
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
</asp:Content>

